# Modus Themes for GitUI
# Auto generated with https://github.com/miikanissi/modus-themes.nvim/blob/master/lua/modus-themes/extras/gitui.lua
(
  selected_tab: Rgb(114,16,69), // magenta #721045
  command_fg: Rgb(119,73,47), // comment #77492f
  selection_bg: Rgb(223,160,240), // visual #dfa0f0
  selection_fg: Rgb(0,0,0), // fg_main #000000
  cmdbar_bg: Rgb(255,255,255), // bg_main #ffffff
  cmdbar_extra_lines_bg: Rgb(255,255,255), // bg_main #ffffff
  disabled_fg: Rgb(119,73,47), // comment #77492f
  diff_line_add: Rgb(48,48,153), // fg_added #303099
  diff_line_delete: Rgb(85,61,0), // fg_removed #553d00
  diff_file_added: Rgb(48,48,153), // fg_added #303099
  diff_file_removed: Rgb(85,61,0), // fg_removed #553d00
  diff_file_moved: Rgb(124,49,143), // magenta_faint #7c318f
  diff_file_modified: Rgb(111,19,67), // fg_changed #6f1343
  commit_hash: Rgb(124,49,143), // magenta_faint #7c318f
  commit_time: Rgb(0,95,95), // cyan_cooler #005f5f
  commit_author: Rgb(0,104,0), // green #006800
  danger_fg: Rgb(166,0,0), // red #a60000
  push_gauge_bg: Rgb(255,255,255), // bg_main #ffffff
  push_gauge_fg: Rgb(0,0,0), // fg_main #000000
  tag_fg: Rgb(143,0,117), // magenta_warmer #8f0075
  branch_fg: Rgb(105,85,0), // yellow #695500
)
